# Copy this file to fuyao/.env and customize values.

# Image settings
IMAGE_NAME=your-project
DOCKERFILE=fuyao.Dockerfile
FUYAO_SITE=fuyao_sh_n2
STATUS_WAIT_SECONDS=600
STATUS_POLL_INTERVAL=10

# Deploy defaults
DEFAULT_IMAGE=infra-registry-vpc.cn-wulanchabu.cr.aliyuncs.com/data-infra/fuyao:your_tag
DEFAULT_PROJECT=rc-wbc
DEFAULT_SITE=
DEFAULT_QUEUE=your_queue
DEFAULT_EXPERIMENT=
DEFAULT_GPUS=1
DEFAULT_NODES=1
DEFAULT_LABEL=
DEFAULT_VOLUME=
